:root {
	--background-light: rgb(217 217 217);
	--background-dark: rgb(40 40 40);
	--primary: rgb(135 91 215);
	/* the bgcolor w/o rgb /s */
	--shadow-color: 217 217 217;
	--shadow-elevation-low:
		0.3px 0.5px 0.7px rgb(var(--shadow-color) / 0.34),
		0.4px 0.8px 1px -1.2px rgb(var(--shadow-color) / 0.34),
		1px 2px 2.5px -2.5px rgb(var(--shadow-color) / 0.34);
	--shadow-elevation-medium:
		0.3px 0.5px 0.7px rgb(var(--shadow-color) / 0.36),
		0.8px 1.6px 2px -0.8px rgb(var(--shadow-color) / 0.36),
		2.1px 4.1px 5.2px -1.7px rgb(var(--shadow-color) / 0.36),
		5px 10px 12.6px -2.5px rgb(var(--shadow-color) / 0.36);
  	--shadow-elevation-high:
		0.3px 0.5px 0.7px rgb(var(--shadow-color) / 0.34),
		1.5px 2.9px 3.7px -0.4px rgb(var(--shadow-color) / 0.34),
		2.7px 5.4px 6.8px -0.7px rgb(var(--shadow-color) / 0.34),
		4.5px 8.9px 11.2px -1.1px rgb(var(--shadow-color) / 0.34),
		7.1px 14.3px 18px -1.4px rgb(var(--shadow-color) / 0.34),
		11.2px 22.3px 28.1px -1.8px rgb(var(--shadow-color) / 0.34),
		17px 33.9px 42.7px -2.1px rgb(var(--shadow-color) / 0.34),
		25px 50px 62.9px -2.5px rgb(var(--shadow-color) / 0.34);
	--border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* the bgcolor w/o rgb /s */
		--shadow-color: var(--background-dark);
	}
}

/* ensure bg covers entire page */
.kc {
	min-height: 100vh;
}

.kc #root {
	background-color: rgb(227 227 227) !important;
	min-height: 100%;
}

@media (prefers-color-scheme: dark) {
	.kc #root {
		background-color: rgb(33 33 33) !important;
	}

	.kc h1, .kc p {
		color: white;
	}

	/* fix mobile auth setup color */
	.kc #kc-totp-settings li::marker {
		color: white;
	}

	.kc #kc-totp-supported-apps li {
		color: white
	}
}

/* wide so language dropdown can be left */
.kc .login-pf-header {
	width: 100%;
}

/* language dropdown */
.kc #kc-locale {
	align-self: flex-end;
}

.kc #kc-locale-dropdown ul {
	max-height: min(calc(100vh - 30px), 300px);
	overflow-y: scroll;
	padding: 0;
	border-radius: var(--border-radius);
	background-color: var(--background-light);
}

@media (prefers-color-scheme: dark) {
	.kc #kc-locale-dropdown ul {
		background-color: var(--background-dark);
		border: solid 1px #333;
	}

	.kc #kc-locale-dropdown ul li a {
		color: white !important;
	}
}

.kc #kc-locale-dropdown:active ul { /* so it works on mobile */
	display: block;
	margin: 0;
}

.kc .kc-dropdown-item a:hover, .kc .kc-dropdown-item a:active {
	background-color: rgb(231 222 247) !important;
	color: white !important;
}

@media (prefers-color-scheme: dark) {
	.kc .kc-dropdown-item a:hover, .kc .kc-dropdown-item a:active {
	background-color: rgb(119 92 167) !important;
	color: black !important;
}
}

/* remove padding/margin that made page too long */
.kc #kc-info {
	padding-bottom: 0;
	margin-bottom: 0;
}

.kc .login-pf-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0;
	min-height: 100vh;
	padding: 50px 0;
}

/* fix required fields */
.kc .login-pf-header .row div {
	width: 100% !important;
}

/* remove border of alert msgs */
.kc .alert {
	border: none !important;
	border-radius: 100px;
}

/* get rid of border for input + rounding */
.kc .form-control {
	border: unset;
	border-radius: 100px;
	padding-left: 13px;
}

/* focus effect */
.kc .form-control:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(135, 91, 215, 0.6);
}

/* input dark mode */
@media (prefers-color-scheme: dark) {
	.kc .form-control {
		color: #fff;
		background-color: #333;
	}	

	.kc .control-label {
		color: white !important;
	}
}

/* remove coloring */
.kc .btn {
	border: none;
	border-radius: 100px;
	background-image: none;
	width: 100%;
}

/* margin for tos decline */
.kc #kc-decline {
	margin-top: 10px;
}

/* hover effect consistent with main webpage */
.kc .btn:hover {
	opacity: 0.9;
	filter: brightness(1.15);
}

.kc .btn:disabled {
	color: white !important;
	cursor: not-allowed !important;
	opacity: .5 !important;
}

.kc .btn-primary {
	background-color: var(--primary) !important;
}

/* make all links primary color */
.kc a:link, .kc a:visited {
	color: var(--primary) !important;
}

/* checkbox aligning stuff */
.kc .checkbox label {
	padding-left: unset;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.kc .checkbox [type="checkbox"] {
	position: unset;
	margin-left: unset;
	margin-right: 5px;
}

/* checkbox styling consistent with main webpage */
.kc [type="checkbox"] {
	height: 1.25rem;
	width: 1.25rem;
	cursor: pointer;
	border-radius: .25rem;
	color: var(--primary) !important;
	appearance: none;
	padding: 0;
	margin: 0;
	print-color-adjust: exact;
	display: inline-block;
	background-origin: border-box;
	user-select: none;
	flex-shrink: 0;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
}

@media (prefers-color-scheme: dark) {
	.kc [type="checkbox"] {
		background-color: #333;
	}
}

.kc [type="checkbox"]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	border-color: transparent;
 	background-color: currentColor;
}

.hide {
	display: none;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--background-light);
	margin: 0 auto;
	padding: 20px;
	width: 100%;
	max-width: 450px;
	height: 100%;
	border-radius: var(--border-radius);
	border-top: 0;
	box-shadow: var(--shadow-elevation-medium);
}

@media (prefers-color-scheme: dark) {
	.card {
		background: var(--background-dark);
	}
}

